@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="font-family:Times New Roman,serif">@ViewData["Title"]</h1>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 7px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 7px;word-break:normal;}
.tg .tg-7eit{text-align:center;vertical-align:middle}
.tg .tg-z2jz{font-size:20px;text-align:center;vertical-align:middle}
.tg .tg-09bo{font-size:20px;text-align:center;vertical-align:middle}
.tg .tg-w9vd{text-align:center;vertical-align:middle}
.tg .tg-0vhw{color:#FE0000;font-size:20px;font-weight:bold;text-align:center;
  vertical-align:middle}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 690px">
<colgroup>
<col style="width: 183px">
<col style="width: 101px">
<col style="width: 100px">
<col style="width: 102px">
<col style="width: 102px">
<col style="width: 102px">
</colgroup>
<thead>
  <tr>
    <th class="tg-7eit"></th>
    <th class="tg-z2jz"><span style="font-weight:bold">Create </span></th>
    <th class="tg-09bo"><span style="font-weight:bold">Edit </span></th>
    <th class="tg-09bo"><span style="font-weight:bold">Delete</span></th>
    <th class="tg-09bo"><span style="font-weight:bold">Approve</span></th>
    <th class="tg-09bo"><span style="font-weight:bold">Reject</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-09bo"><span style="font-weight:bold">Administrator</span></td>
    <td class="tg-7eit"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
  </tr>
  <tr>
    <td class="tg-09bo"><span style="font-weight:bold">Manager</span></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-0vhw"><span style="font-weight:bold;color:#FE0000">X</span></td>
    <td class="tg-0vhw"><span style="font-weight:bold;color:#FE0000">X</span></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
  </tr>
  <tr>
    <td class="tg-09bo"><span style="font-weight:bold">Registered User</span></td>
    <td class="tg-w9vd"><img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%233ace1c' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e" alt="Image" width="20" height="20"></td>
    <td class="tg-0vhw"><span style="font-weight:bold;color:#FE0000">X</span></td>
    <td class="tg-0vhw"><span style="font-weight:bold;color:#FE0000">X</span></td>
    <td class="tg-09bo"><span style="font-weight:bold;color:#FE0000">X</span></td>
    <td class="tg-0vhw"><span style="font-weight:bold;color:#FE0000">X</span></td>
  </tr>
</tbody>
</table>
<p></p>
<p></p>
<h5 style="font-family:Times New Roman,serif"><b>Registered Users</b> and <b>Managers</b> can create, edit or delete the new contacts created by them.</h5>